@font-face{ /*   FuseV2Bold, used for headings.   */
    font-family: FuseV2Bold;
    src: url(src/font/fuseV2bold.otf)
}
@font-face{ /*   FuseV2, used for sub-headings   */
    font-family: FuseV2;
    src: url(src/font/fusev2.otf)
}
@font-face{ /*   Corbel, used for plaintext  */
    font-family: Corbel;
    src: url(src/font/corbel.ttf)
}
body{
    margin: 0;
    background-color: rgba(148, 148, 148, .9)
}
h1{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif;
    font-size: 40px;
}
h3{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif;
    font-size: 25px;
}
p{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif;
}
#headerElements{
    margin-right: 10%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
#headerSection{
    background: linear-gradient(180deg, rgba(148, 148, 148, .9) 0, rgba(71, 71, 71, .9) 20%, rgba(19, 19, 19, .9) 40%, rgba(7, 7, 7, .93) 100%);
    padding-top: 5px;
    height: 90px;
    position: relative;
}
.marketplaceLogo {
    position: relative;
    top: 0%;
    left: 0vw;
    z-index: 10;
}
#searchBar input[type=text]{
    min-width: 40vw;
    min-height: 70px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif;
    font-size: 28px;
    border: 3px solid #005bf9;
    border-radius: 25px;
}
#headerImage img{
    max-width: 100%;
    height: auto;
    margin: 0;
    z-index: -1;
}
#contentBackground{
    background: #000000;
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 55%, rgba(0, 108, 224, 1) 100%);
    min-height: 200px;
    height: fit-content;

}
#content{
    background: rgba(39, 39, 39, .7);
    backdrop-filter: blur(1px) saturate(150%);
    box-shadow: rgba(0, 0, 0, .25) 0 14px 28px, rgba(0, 0, 0, .22) 0 10px 10px;
    color: white;
    padding-left: 5%;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 150px;
    padding-bottom: 50px;
}
#wideContent{
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 150px;
    padding-bottom: 50px;
}
#end{
    background: linear-gradient(0deg, rgba(148, 148, 148, .9) 0, rgba(71, 71, 71, .9) 20%, rgba(19, 19, 19, .9) 40%, rgba(7, 7, 7, .93) 100%);
    height: auto;
    margin: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#end img{
    padding: 50px;
}
#endContents{
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-columns: auto auto ;
    padding-left: 5vw;
    padding-right: 10vw;

}
.sidebar {
  /* positioning */
  transition: height 1s;
  overflow-x: hidden;
  transition: 0.5s;
  display: none;
  z-index: 1;
  text-align: right;
  width: 20vw;
  height: 500px;
  position: absolute;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  top: 90px;
  right: 0;

  /* decoration */
  color: black;
  font-weight:600;
    background: #0055b0;
    background: linear-gradient(180deg,rgba(0, 108, 224, 1) 54%, rgba(158, 255, 253, 1) 100%);

}
.sidebarTop p:hover{
    font-size: 25px;
    text-decoration: underline;
}
.sidebarTop{
    background: rgba(0, 108, 224, 1);
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-right: -20px;
    font-size:25px; 
    color:black; 
    text-decoration: none;
}
.sidebarContent{
    margin-right: 20px;
    font-size: 20px;
}
.sidebarContent p:hover{
    font-size: 22px;
    text-decoration: underline;
    transition: font-size 0.2s;
}
.sidebarContent a{
    color: black;
    text-decoration: none;
}
.accountButton{
    width: fit-content;
    cursor: pointer;
    height: fit-content;
}
.optionsButton{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.optionsButtonImage{
    cursor: pointer;
}
.messageButton{
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}
.bigButton{
    font-size:30px;
    font-family: FuseV2;
    padding: 20px;
    position: relative;
    border: 3px solid #005bf9;
    border-radius: 25px;
    background-color: white;
    transition: background-color .2s, color .2s, border .2s;
}
.bigButton:hover{
    background-color: #005bf9;
    border: 3px solid #00225e;
    color: white;
    cursor: pointer;
}

.createAccountForm, .loginAccountForm{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 10px;
    font-family: Corbel;
    font-size: 20px;
}

.createAccountForm label, .loginAccountForm label{
    font-family: Corbel;
    font-size: 25px;
    padding-right: 20px;
}
.createAccountForm input{
    font-size: 25px;
    font-family: FuseV2;
    min-width: 20vw;
    padding: 5px;
    margin-right: 10px;
}
.loginAccountForm input{
    font-size: 25px;
    font-family: FuseV2;
    max-width: 300px;
    padding: 5px;
    margin-right: 50px;
}
/* google button */
.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 10px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}