/* Item detail page + "recommended items" grids */

.itemButtons {
    display: grid;
    grid-template-columns: auto;
}
#itemImage {
    grid-column: 1;
    grid-row: 1 / span 4;
    width: 600px;
}
.itemInformationGrid {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: auto auto auto auto;
    column-gap: 40px;
    align-items: start;
}
.itemInformationGrid h1 {
    grid-column: 2;
    margin: 0 0 20px;
    text-align: left;
}
#itemName {
    grid-row: 1;
}
#itemPrice {
    grid-row: 2;
}
#itemDescriptionDiv {
    grid-row: 3;
}
.itemDescriptionBox {
    width: 400px;
    border: 5px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
.itemImageSmallGrid {
    grid-column: 1;
    -ms-grid-row-span: 3;
    padding-top: 30px;
}
.itemImageSmall {
    border: 2px solid rgba(255, 255, 255, 0);
    height: 100px;
    padding: 10px;
}
.itemImageSmall:hover {
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.recItemImage {
    width: 200px;
    cursor: pointer;
}
.recItem {
    padding-bottom: 20px;
}
.recItemsFromItem {
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
}
.recItemsHomepage {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    padding-left: 200px;
    padding-right: 200px;
}
