# MongoDB connection string
MONGODB_URI=MONGO_URI=mongodb+srv://tann03519_db_user:EiBT7WGtGZki1Jkw@user.k08iyue.mongodb.net/marketplace?appName=User

# Firebase Web API Key (Firebase Console > Project Settings > General > Web API Key)
FIREBASE_API_KEY=AIzaSyBgVJj8-z3-qsMxXY5EfrRDIC_cxizJ130

# Port number
PORT = 8000